.cbtn:not(:disabled) {
  cursor: pointer;
}

.cbtn {
  background-color: #f69925;
  color: white;
  border: none;
  box-shadow: 0px 4px 12px rgba(255, 140, 0, 0.4);
}

.cbtn:hover {
  background-color: #ff8c00;
  color: white;
}

.cbtn:focus {
  background-color: #ff8c00;
  color: white;
  box-shadow: 0px 4px 12px rgba(255, 140, 0, 0.4);
  outline: none;
}

.cbtn:disabled {
  pointer-events: none;
  opacity: 0.65;
}

.curved {
  border-radius: 25px;
}

.large {
  width: fit-content;
}

@media only screen and (max-width: 510px) {
  .btn {
    width: fit-content !important;
  }
}
