.btn:not(:disabled) {
    cursor: pointer;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    line-height: 1.5;
    background-color: #f69925;
    border-radius: 13px;
    color: white;
    border-color: #f69925;
    transition: color 0.15s ease-in-out,
        background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
}

.btn:hover {
    border-color: #eb5310;
    background-color: #eb5310;
    color:white;
}

.btn:focus {
    border: 1px solid transparent;
    background-color: #eb5310;
    border-radius: 13px;
    color: white;
    border-color: #eb5310;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgb(246, 153, 37, .5);
}

.curved {
    border-radius: 25px;
}

.large {
    width: 100%;
}

.pull-right{
    float:right;
}

.pull-left{
    float:left;
}