.btn:not(:disabled) {
    cursor: pointer;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    line-height: 1.5;
    background-color: #f69925;
    border-radius: 13px;
    color: white;
    border:none;
    box-shadow:0px 5px 20px 5px rgba(255, 140, 0, .40);
    transition: color 0.15s ease-in-out,
        background-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
}

.btn:hover {
    background-color: #ff8c00;
    color:white;
}

.btn:focus {
    background-color: #ff8c00;
    border-radius: 13px;
    color: white;
    box-shadow: 0 10px 10px 0 rgba(255, 140, 0, .40);
    outline: none;
    border-radius: 25px;
}

.curved {
    border-radius: 25px;
}

.large {
    width: 100%;
}

.pull-right{
    float:right;
}

.pull-left{
    float:left;
}

@media only screen and (max-width: 510px){
    .btn{
        width:fit-content !important;
    }
}