.signUpContainer {
  width: 50%;
  border-style: solid;
  margin-top: 100px;
  margin-bottom: 50px;
  border-color: #f69925;
  border-radius: 20px;
}

.signUpTitle {
  text-align: center;
  margin: 30px 0 0 0;
  font-weight: 500;
}

/* .signUpForm {
  margin: 0 auto 0 auto;
  width: 65%;
} */

.signUpline1 {
  height: 3px;
  background: #000;
  margin: 2px auto 0px auto;
  width: 300px;
  background: #eb5310;
}

.signUpline2 {
  height: 3px;
  background: #000;
  margin: 2px auto 50px auto;
  width: 300px;
  background: #eb5310;
}

.signUpInput {
  background-color: #fffaf4;
  border: none;
  color: black;
  border-radius: 10px;
  font-size: 18px;
  margin-bottom: 30px;
  padding: 8px 0px 8px 25px;
  height: 55px !important;
}

.signUpGender:focus {
  outline: none !important;
}

.signUpInput::placeholder {
  color: grey;
}

.signUpInput:focus {
  box-shadow: 0 0 0 0.2rem rgba(246, 152, 37, 0.428);
  background: rgb(253, 240, 223);
}

.last {
  width: 85%;
}

.signUpTerms {
  margin-top: 30px;
  margin-bottom: 20px;
}

.signUpCheckBox {
  width: 20px;
  height: 20px;
}

.signUpCheckText {
  vertical-align: middle;
  margin-left: 20px;
}

.signUpButtonDiv {
  text-align: center;
}

/* .signUpButton {
    margin: 0 auto 20px auto;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 3px;
} */

.signUpLink {
  color: #f69925;
}

.signUpLink:hover {
  color: #eb5310;
}

@media only screen and (max-width: 992px) {
  .signUpContainer {
    width: 80%;
  }

  .signUpInput {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .last {
    width: 100%;
  }
}

@media only screen and (max-width: 512px) {
  .signUpContainer {
    width: 90%;
  }

  /* .signUpForm {
    padding: 0;
  } */
}
