@media only screen and (max-width: 768px){
  .announcementTitle{
    margin-left: 25px;
  }

  .boardTitle {
    font-size: 35px;
  }

}

@media only screen and (min-width:768px) and ( max-width: 930px){
  .cbtn{
    width:200px;
    font-size:13px;
  }
}

.scroll{
  max-height: 400px;
  overflow-y: auto;
}

.line1 {
  height: 4px;
  background: #000;
  margin: 7px 0px 3px 0px;
  width: 100px;
  background: #eb5310;
}
.line2 {
  height: 4px;
  background: #000;
  margin-bottom: 5px;
  width: 130px;
  background: #eb5310;
}

CardBody,
li {
  list-style: none;
  font-weight: 500;
  font-size: 16px;
}


CardBody,
li,
a:hover {
  color: black;
  text-decoration: none;
}

CardBody,
li,
a {
  color: black;
}

CardBody,
li,
i {
  height: 100%;
}

.publishedDate {
  font-size: 10px;
  margin-top: 4px;
}

.announcementSeperator {
  background: #f79729;
}




