nav{
	z-index: 1;
}

.Navbar {
  background-color: transparent;
}


.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: orange;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  font-weight: 600;
}

.navbar-light .navbar-nav .nav-link:hover{
	color:orangered;
}