.Navbar{
	background-color:transparent;
}

.navbar-light .navbar-nav .active>.nav-link,
 .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .nav-link.show,
   .navbar-light .navbar-nav .show>.nav-link {
    color: orange;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    font-weight: 600;
}