.carouselImage{
	width: 100% !important;
	object-fit: cover;
	object-position: 0 0;
}

.carouselPosition {
	height: 45vh !important;
}

.carousel-item>img {
	height: 45vh !important;
}
/* @media only screen and (max-width: 992px){


}

@media only screen and (max-width:768px){
	.carouselPosition{
		height: 45vh;
	}
	.carousel-item > img{
		height: 45vh !important;
	}
} */


