@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Condensed&display=swap');

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

*:not(#icon){
	font-family: poppins;
}

.title{
	font-family: roboto condensed !important;
}
