.card-deck {
	display: flex;
	flex-direction: row;
	margin-left: 25px;
	margin-top: 15px;
}

.card {
	display: flex;
	position: relative;
	flex-direction: column;
	flex: 1 0 0%;
	margin-bottom: 0;
	margin-left: 25px;
	margin-top: 15px;
	display: inline-block;
}

.activityTitle{
	text-align: center;
	margin:20px 0;
}

.activityLine{
	height:7px;
	background-color: orange;
}

.activityCardBody{
	padding-left: 15px;
	padding-top: 15px;
	background-color: #FFFAF4;
	flex: 1 1 auto;
}

.activityCardTitle{
	font-size:20px;
	font-weight:bold;
	margin-top: 
}

.activityCardSubtitle{
	margin-bottom: 8px; 
	color:#AEADAD;
	font-weight: 700;
}

.activityCardText{
	color:#AEADAD;
	font-weight: 600;
}

.activityButton {
  background-color: #f79729;
  border-radius: 25px;
  width:120px;
  border-color: #f79729
}

.activityButton:hover {
  background-color: orangered;
}