.activityTitle{
	text-align: center;
	margin:20px 0;
}

.activityLine{
	height:7px;
	background-color: orange;
}

.activityCardBody{
	padding-left: 30px;
	padding-top: 35px;
	background-color: #FFFAF4;
}

.activityCardTitle{
	font-size:30px;
	font-weight:bold;
	margin-top: 
}

.activityCardSubtitle{
	margin-bottom: 10px; 
	color:#AEADAD;
	font-weight: 700;
}

.activityCardText{
	color:#AEADAD;
	font-weight: 600;
}

.activityButton {
  background-color: #f79729;
  border-radius: 40px;
  width:140px;
  border-color: #f79729
}

.activityButton:hover {
  background-color: orangered;
}